a {
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:visited {
  outline-width: 0;
  text-decoration: none;
}

@media (max-width: 320px) {
    h1, h2{
        font-size: 100%
    }
}


#map {
    height: 300px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.head {
	border-bottom: 2px solid #183884;
}


.vr_img {
    background:  url(vr.jpg);
    display: inline-block;
    position: relative;
    padding-left: 0px;
    height: 128px;
    width: 100%;
}

.vr_img span {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 0px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
 /*  background-color: rgba(0,0,0,4); !!!!!!FON
    padding: 10px 30px; */ 
}



.vr_text {
    padding: 0px;
    display:inline-block;
    position:relative;
}

.f_block {
	align-items: center;
	padding-top: 55px;
}

.row_priem {
	border-bottom: 2px solid #183884;
	font-size: 72px;
	text-align: center;
    margin-bottom: 15px;
}

.row_vertical {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    flex-flow: row wrap;
}


.bg-gray {
	background: #F1F5FA;

}

.b-button {
	font-size: 50px;
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    width: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    border: 1.25px solid #183884;
    transition: all .2s ease-in-out;
    height: 100px;
    border-radius: 75px;

}

.b_number {
	font-size: 40px;
    color: #3c4582;
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 600;
}

.b_number_do {
	padding-left: 4px;
	font-size: 40px;
    color: #3c4582;
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 600;
}

.b_do {
	font-size: 14px;
    color: #3c4582;
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.b_text {
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 600;
    color: #3c4582;
}

.mar_l {
	margin-left: 10px;
}

.list
{
	border: 1.25px solid #183884;
}

.list_a
{
    border: 1.25px solid #183884;

}

.list_a1
{
    border: 1.25px solid #183884;

}

.list_b
{
    text-align: center;
}

.list_b1
{
    text-align: center;
}

.outline {
    outline: 1.25px solid #183884;
    padding: 10%;
}

.vr 
{
	display: inline-block;
	border: none;
	text-align: center;
}

.footer {
    background-color: #183884;
    width: 100%;
    text-align: center;
    position: relative;
}

.footer i {
    color: #fff;
    padding: 25px 10px 25px;
    font-size: 50px;
}

.footer span {
    color: #fff;
    text-decoration: none;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 320px){
    .vr_text span{
        font-size: 1em;
        text-align: center !important;
        align-items: center !important;
    }
}

.mg_r {
    padding-right: -15px !important;
}

.vr_center {
	text-align: center;
	display: inline-block;
}

.non_line:hover {
    text-decoration: none;
}

.img_vr {
    font-size: 75px;
    color: red;
}

.cont_inf {
    font-family: sans-serif;
    font-size: 28px;
}

.progs {
    position: relative;

    border: 1.25px solid #183884;
    padding: 10px;
    margin: 0 auto 15px;
    border-radius: 100px; 
    display: inline-block;
    display: -webkit-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    clear:both;
}

.budget {
    

    border: 1.25px solid #183884;
    padding: 10px;
    margin: 0 auto;
    border-radius: 100px; 
    display: inline-block;
    display: -webkit-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    clear:both;
}


.sales {

    border: 1.25px solid #183884;
    padding: 10px;
    margin: 0 auto;
    border-radius: 100px; 
    display: inline-block;
    display: -webkit-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    clear:both;
}
/* .b-button {
	border-radius: 100px;
	border: 1px solid #183884;
	padding: 50px;
} */

